body {
    /* background: grey    ; */
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  #container {
    width: 70%;
    /* padding: 1em; */
    text-align: left;
    border: 1px solid #ddd;
    margin: 5 auto;
    border-radius: 10px;
  }
  
  #container h1 {
    font-size: 20px;
  }
  
  #cabecera {
    background: indigo;
    color: white;
    height: 40px;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5em;
    font-size: 30px;
    box-shadow: 10px 10px 34px -13px rgba(97, 97, 97, 1);
    font-weight: bold;
  }
  
  #cabecera span {
    font-size: 15px;
    padding-left: 10px;
  }
  
  #post {
    padding: 0.7em;
  }
  
  /* Cabecera 2 */
  
  #container2 {
    width: 50%;
    text-align: left;
    border: 1px solid #ddd;
    margin: 5 auto;
    border-radius: 10px;
  
  }
  
  #container2 h1 {
    font-size: 20px;
  }
  
  #cabecera2 {
    background: rgb(70, 173, 233);
    color: white;
    height: 40px;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5em;
    font-size: 30px;
    box-shadow: 10px 10px 34px -13px rgba(97, 97, 97, 1);
    font-weight: bold;
  }
  
  #cabecera2:hover {
      background: rgb(52, 133, 180);
  }
  
  #cabecera2 span {
    font-size: 15px;
    padding-left: 10px;
  }
  
  #post2 {
    padding: 0.7em;
  }
  
  /* Cabecera 3 */
  
  #container3 {
    width: 50%;
    text-align: left;
    border: 1px solid #ddd;
    margin: 5 auto;
    border-radius: 10px;
  
  }
  
  #container3 h1 {
    font-size: 20px;
  }
  
  #cabecera3 {
    background: rgb(216, 57, 8);
    color: white;
    height: 40px;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5em;
    font-size: 30px;
    box-shadow: 10px 10px 34px -13px rgba(97, 97, 97, 1);
    font-weight: bold;
  }
  
  #cabecera3:hover {
      background: rgb(170, 44, 5);
  }
  
  #cabecera3 span {
    font-size: 15px;
    padding-left: 10px;
  }
  
  #post3 {
    padding: 0.7em;
  }
  
  /* Cabecera 4 */
  
  #container4 {
    width: 50%;
    text-align: left;
    border: 1px solid #ddd;
    margin: 5 auto;
    border-radius: 10px;
  
  }
  
  #container4 h1 {
    font-size: 20px;
  }
  
  #cabecera4 {
    background: rgb(179, 211, 1);
    color: white;
    height: 40px;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5em;
    font-size: 30px;
    box-shadow: 10px 10px 34px -13px rgba(97, 97, 97, 1);
    font-weight: bold;
  }
  
  #cabecera4:hover {
      background: rgb(115, 134, 4);
  }
  
  #cabecera4 span {
    font-size: 15px;
    padding-left: 10px;
  }
  
  #post4 {
    padding: 0.7em;
  }
  